*{
margin: 0;
padding 0;
box-sizing: 0;
font-size: 32px;
}

body{

background:url(https://wallpapercg.com/media/ts_2x/20715.webp) ;
background-size: cover;
background-position: center;
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}


.container{
    size: 100px;
width: 420px;
height: 20px;
background: transparent;
border: 2px solid rgba(255, 255, 255, 0);
backdrop-filter: ;
border-radius: 2px solid;



}